# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore Apple created files
.DS_Store

# Ignore ENVs
.env

# Travis.yml
config/travis.yml

# Ignore Redis dumps
dump.rdb