config/travis.yml
config/database.yml
config/nginx.conf
config/skylight.yml

tmp/
/log/
/logs/
!vendor/travis-core/lib/travis/logs/
!vendor/travis-core/lib/travis/model/log/

.yardoc
.coverage
*.env
.ruby-gemset
