sudo: false
language: ruby
env:
  global:
    - RUBY_GC_MALLOC_LIMIT=90000000
    - RUBY_GC_HEAP_FREE_SLOTS=200000
rvm:
  - 2.1.2
addons:
  postgresql: 9.3
before_script:
  - 'RAILS_ENV=test bundle exec rake db:create db:migrate --trace'

notifications:
  irc: "irc.freenode.org#travis"
services:
  - redis
cache: bundler
sudo: false
