language: ruby

sudo: false

rvm: 2.3.5

script: "bundle exec rake knapsack:rspec"
env:
  global:
    - CI_NODE_TOTAL=3

  matrix:
    - CI_NODE_INDEX=0
    - CI_NODE_INDEX=1
    - CI_NODE_INDEX=2

cache: bundler

addons:
  postgresql: 9.3

services:
  - redis

before_script:
  - 'RAILS_ENV=test bundle exec rake db:create --trace'
