language: ruby

import:
  - travis-ci/build-configs/db-setup.yml

rvm: 2.5.1

script: "bundle exec rake knapsack:rspec"
env:
  global:
    - RUBY_GC_MALLOC_LIMIT=90000000
    - RUBY_GC_HEAP_FREE_SLOTS=200000
    - CI_NODE_TOTAL=3

  matrix:
    - CI_NODE_INDEX=0
    - CI_NODE_INDEX=1
    - CI_NODE_INDEX=2

cache: bundler

services:
  - redis-server

before_install:
  - 'gem update --system'

jobs:
  include:
    - stage: "Testing time"
    - stage: ":ship: it to Quay.io"
      sudo: required
      install: echo skip
      before_script: echo skip
      script: ./script/docker-build-and-push