<section class="info-block">
  <h1 class="info-header">Admin Access</h1>
</section>

<section class="info-block">
  <h1 class="info-header">Push Access</h1>
</section>

<section class="info-block">
  <h1 class="info-header">Pull Access</h1>
</section>