<% title "Help" %>

<section class="info-block">
  <% if travis_config.enterprise? %>
    <h2 class="info-header">Travis CI Enterprise</h2>
    <p>This application is running in <b>enterprise mode</b>. Please contact <a href="mailto:enterprise@travis-ci.com">enterprise@travis-ci.com</a> with any questions.</p>
  <% end %>

  <h2 class="info-header">Search</h2>
  <p>Enter whatever you're searching for in the search field above. Currently supported search terms:</p>

  <ul>
    <li class="inline-list search-info">
      <p class="info-label">Search term type</p>
      <p class="info-label">Indexed records</p>
      <p class="info-label">Example search term</p>
    </li>

    <li class="inline-list search-info">
      <p>Type & ID</p>
      <p>User, Organization, Repository, Build, Job, Request</p>
      <p>user 124, organization 46, repo 25, repository 25, build 566, job 456, request 2354</p>
    </li>

    <li class="inline-list search-info">
      <p>Github ID</p>
      <p>User, Organization</p>
      <p>user 124, organization 46</p>
    </li>

    <li class="inline-list search-info">
      <p>Login</p>
      <p>User, Organization</p>
      <p>travis-ci</p>
    </li>

    <li class="inline-list search-info">
      <p>Email</p>
      <p>User</p>
      <p>travis@example.com</p>
    </li>

    <li class="inline-list search-info">
      <p>Homepage</p>
      <p>Organization</p>
      <p>https://example.com</p>
    </li>

    <li class="inline-list search-info">
      <p>Name</p>
      <p>User, Organization, Repository</p>
      <p>Travis CI</p>
    </li>

    <li class="inline-list search-info">
      <p>Slug</p>
      <p>Repository</p>
      <p>travis-ci/emerald</p>
    </li>

    <li class="inline-list search-info">
      <p>Slug & Number</p>
      <p>Build, Job</p>
      <p>travis-ci/emerald#123, travis-ci/emerald#123.3</p>
    </li>

    <li class="inline-list search-info">
      <p>GitHub URL</p>
      <p>User, Organization, Repository</p>
      <p>https://github.com/travis-ci</p>
    </li>

    <li class="inline-list search-info">
      <p>Travis CI URL</p>
      <p>User, Organization, Repository, Build, Job</p>
      <p>https://travis-ci.com/travis-ci/emerald/builds/6397</p>
    </li>
  </ul>
</section>
