<h1>Search Results</h1>

<% if @results.any? %>
  <ul>
    <% @results.each do |result| %>
      <li class="inline-list search-results">
        <p><%= result.class %></p>
        <p><%= link_to describe(result), result %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No results.</p>
<% end %>
