<% title "Build - #{describe(@build)}" %>

<% breadcrumbs "#{link_to describe(@build.owner), @build.owner} > #{link_to @build.repository.name, @build.repository} > #{link_to 'Request ' + describe(@build.request), @build.request} > Build ##{@build.number}" %>

<div id="tabs">
  <span id="build" class="tab-switch"></span>
  <a href="#build" class="tab-link">Information</a>
  <section class="tab-content">
    <%= render partial: 'build' %>
  </section>

  <span id="config" class="tab-switch"></span>
  <a href="#config" class="tab-link">Configuration</a>
  <section class="tab-content">
    <%= render partial: 'shared/config', locals: {config: @build.configuration} %>
  </section>
</div>
