<h1 class="info-header"><%= "#{@build.repository.slug} build #{@build.number}" %></h1>

<div id="tabs">
  <span id="repository" class="tab-switch"></span>
  <a href="#repository" class="tab-link">Information</a>
  <section class="tab-content">
    <%= render partial: 'build', locals: {build: @build} %>
  </section>

  <span id="repository" class="tab-switch"></span>
  <a href="#repository" class="tab-link">Configuration</a>
  <section class="tab-content">
    <%= render partial: 'config', locals: {build: @build} %>
  </section>
</div>
