<% title "Job - #{describe(@job)}" %>

<% breadcrumbs "#{link_to describe(@job.owner), @job.owner} > #{link_to @job.repository.name, @job.repository} > #{link_to 'Request ' + describe(@job.build.request), @job.build.request} > #{link_to 'Build #' + @job.build.number, @job.build} > Job ##{@job.number}" %>

<div id="tabs">
  <span id="job" class="tab-switch"></span>
  <a href="#job" class="tab-link">General Information</a>
  <section class="tab-content">
    <%= render partial: 'job' %>
  </section>

  <span id="config" class="tab-switch"></span>
  <a href="#config" class="tab-link">Configuration</a>
  <section class="tab-content">
    <%= render partial: 'shared/config', locals: {config: @job.configuration} %>
  </section>

  <span id="logs" class="tab-switch"></span>
  <a href="#logs" class="tab-link">Logs</a>
  <section class="tab-content">
    <%= render partial: 'log' %>
  </section>
</div>
