<section class="box">
  <h3 class="box-title">Subscription</h3>
    <div class="detail-pair">
      <strong>Account Creation</strong>
    </div>

    <div class="detail-pair">
      <strong>Trial Builds</strong>
    </div>

    <div class="detail-pair">
      <strong>Total Trials</strong>
    </div>

    <div class="detail-pair">
      <strong>Subscription</strong>
        <% if user.subscription %>
          User has Subscription (fill in real data)
        <% else %>
          none
        <% end %>
    </div>

    <div class="detail-pair">
      <strong>Job Boost</strong>
    </div>
</section>


<section class="box">
  <h3 class="box-title">Feature Flags</h3>
</section>

<section class="box">
  <h3 class="box-title">Abuse</h3>
</section>
