<% title "Users with Admin Access" %>

<section class="info-block">
  <ul>
    <li class="inline-list">
      <p class="info-label">Name</p>
      <p></p>
      <p></p>
    </li>
    <% @admins.each do |admin| %>
      <li class="inline-list">
        <p><%= link_to describe(admin), admin %></p>
        <p></p>
        <p></p>
      </li>
    <% end %>
  </ul>
</section>
