<nav class="tablist">
  <ul class="tabs group">
    <li><a href="#user">User</a></li>
    <li><a href="#account">Account</a></li>
    <li><a href="#repositories">Repositories</a></li>
    <li><a href="#queue">Queue</a></li>
  </ul>

  <div class="box-wrap">
    <div id="user">
      <%= render partial: "user", locals: {user: @user} %>
    </div>

    <div id="account">
      <%= render partial: "account", locals: {user: @user} %>
    </div>

    <div id="repositories">
      <%= render partial: "repos", locals: {repositories: @user.repositories} %>
    </div>

    <div id="queue">
    </div>
  </div>
</nav>
