<% title "User - #{describe(@user)}" %>

<div id="tabs">
  <span id="user" class="tab-switch"></span>
  <a href="#user" class="tab-link">User</a>
  <section class="tab-content">
    <%= render partial: 'user' %>
  </section>

  <span id="repositories" class="tab-switch"></span>
  <a href="#repositories" class="tab-link">Repositories</a>
  <section class="tab-content">
    <%= render partial: 'shared/repositories' %>
  </section>

  <span id="jobs" class="tab-switch"></span>
  <a href="#jobs" class="tab-link">Jobs</a>
  <section   class="tab-content">
    <%= render partial: 'shared/jobs', locals: {owner: @user} %>
  </section>

  <span id="broadcast" class="tab-switch"></span>
  <a href="#broadcast" class="tab-link">Broadcast</a>
  <section   class="tab-content">
    <%= render partial: 'shared/broadcasts', locals: {recipient: @user} %>
  </section>
</div>
