<section class="box">
  <h2 class="box-title">Subscription</h2>
    <div class="detail-pair">
      <strong>Account Creation</strong>
    </div>

    <div class="detail-pair">
      <strong>Trial Builds</strong>
    </div>

    <div class="detail-pair">
      <strong>Total Trials</strong>
    </div>

    <div class="detail-pair">
      <strong>Subscription</strong>
        <% if owner.subscription %>
         has subscription (fill in real data)
        <% else %>
          none
        <% end %>
    </div>

    <div class="detail-pair">
      <strong>Job Boost</strong>
    </div>
</section>


<section class="box">
  <h2 class="box-title">Feature Flags</h2>
</section>

<section class="box">
  <h2 class="box-title">Abuse</h2>
</section>
