<section class="info-block">
  <h2 class="info-header">Travis Information</h2>

  <dl class="simple-info">
    <dt class="info-label">Travis ID:</dt>
    <dd><%= owner.id %></dd>

    <dt class="info-label">Account Creation:</dt>
    <dd>
      <time>
        <%= owner.created_at %>
      </time>
    </dd>

    <dt class="info-label">Trial Builds:</dt>
    <dd>
      <form>
      </form>
    </dd>

    <dt class="info-label">Total Trials:</dt>
    <dd></dd>

    <dt class="info-label">Subscription:</dt>
    <dd>
      <% if owner.subscription %>
        <p>{{Subscription Info}}</p>
      <% else %>
        <p>None.</p>
      <% end %>
    </dd>

    <dt class="info-label">Job Boost:</dt>
    <dd>
      <form>
      </form>
    </dd>
  </dl>
</section>


<section class="info-block">
  <h2 class="info-header">Feature Flags</h2>
  <form>
  </form>
</section>

<section class="info-block">
  <h2 class="info-header">Abuse Flags</h2>
  <form>
  </form>
</section>
