<section class="info-block">
  <h2 class="info-header">Configuration</h2>

  <% if config.empty? %>
    <p>No configuration.</p>
  <% else %>

    <% config.each do |key, value| %>
      <dl class="config-item">
        <dt><%= key %></dt>
        <dd><%= format_config(value) %></dd>
      </dl>
    <% end %>
  <% end %>
</section>
