<section class="info-block config">
  <h2 class="info-header">Configuration</h2>

  <% if config.empty? %>
    <p>No configuration.</p>
  <% else %>
    <pre><%= format_config(config) %></pre>
  <% end %>
</section>
