<% if jobs.empty? %>
  <p>No jobs.</p>
<% else %>
  <ul>
    <li class="inline-list job-item">
      <p class="info-label">Job ID</p>
      <p class="info-label">State</p>
      <p class="info-label">Queue</p>
      <p class="info-label"></p>
    </li>
    <% jobs.each do |job| %>
      <li class="inline-list job-item">
        <p><%= link_to describe(job), job %></p>
        <p><%= "#{job.state} at #{job.state_time}" %></p>
        <p><%= job.queue %></p>
        <p></p>
      </li>
    <% end %>
  </ul>
<% end %>
