<section class="info-block">
  <h2 class="info-header">Job History</h2>
  <%= render partial: 'shared/build_chart', locals: {owner: owner} %>
</section>

<section class="info-block">
  <h2 class="info-header">Job Queue</h2>
  <%= render partial: 'shared/job_list', locals: {jobs: @pending_jobs} %>
</section>

<section class="info-block">
  <h2 class="info-header">Recently Finished Jobs</h2>
  <%= render partial: 'shared/job_list', locals: {jobs: @finished_jobs} %>
</section>
