<section class="info-block">
  <h1 class="info-header">Job Queue</h1>
  <% if pending_jobs.empty? %>
    <p>No jobs pending.</p>
  <% else %>
    <% pending_jobs.each do |job| %>
      <ul class="inline-list job-item">
        <li><%= job.id %></li>
        <li><%= job.state %></li>
        <li><%= job.started_at %></li>
        <li><%= job.queue %></li>
        <li></li>
      </ul>
    <% end %>
  <% end %>
</section>
