<section class="info-block">
  <h2>Job Queue</h2>
  <% if pending_jobs.empty? %>
    <p>No jobs pending.</p>
  <% else %>
  <ul class="jobs-list">
    <% pending_jobs.each do |job| %>
      <li>
        <ul class="job-item">
          <li><%= job.id %></li>
          <li><%= job.state %></li>
          <li><%= job.started_at %></li>
          <li><%= job.queue %></li>
        </ul>
      </li>
    <% end %>
    </ul>
  <% end %>
</section>
