<section class="info-block">
  <h2 class="info-header">Repositories</h2>
  <% if repositories.empty? %>
    <p>No repositories.</p>
  <% else %>
    <ul>
      <li class="inline-list repository-item">
        <p class="info-label repo-name">Repository</p>
        <p class="info-label repo-active">Active?</p>
        <p class="info-label repo-build">Last Build</p>
        <p class="info-label repo-view"></p>
      </li>
      <% repositories.each do |repo| %>
        <li class="inline-list repository-item">
          <p class="repo-name"><%= describe(repo) %></p>
          <% if repo.active? %>
            <p class="repo-active">enabled</p>
          <% else %>
            <p class="repo-active">disabled</p>
          <% end %>
          <% if repo.last_build_id %>
            <p class="repo-build">
              <%= link_to "build ##{repo.last_build_number}", repo.last_build %>
              <%= "(#{repo.last_build.state} at #{repo.last_build.state_time})" %>
            </p>
          <% else %>
            <p class="repo-build">no build</p>
          <% end %>
          <p class="repo-view"><%= link_to "View", repository_path(repo), class: "button" %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
