<% if users.empty? %>
  <p>No users.</p>
<% else %>
  <ul class="inline-list user-item">
    <li class="info-label">Name</li>
    <li class="info-label">Subscription</li>
    <li class="info-label"></li>
  </ul>
  <% users.each do |user| %>
    <ul class="inline-list user-item">
      <li><%= link_to "#{user.name} (#{user.login})", user %></li>
      <li>
        <% if user.subscription %>
          <%= link_to format_subscription(user.subscription), user.subscription %>
        <% else %>
          none
        <% end %>
      </li>
      <li></li>
     </ul>
  <% end %>
<% end %>
