<section class="info-block">
  <h1 class="info-header">Users</h1>

  <% if users.empty? %>
    <p>No users.</p>
  <% else %>
    <ul class="user-list">
      <% users.each do |user| %>
        <li><%= link_to "#{user.name} (#{user.login})", user %></li>
      <% end %>
    </ul>
  <% end %>
</section>
