<% if users.empty? %>
  <p>No users.</p>
<% else %>
  <ul>
    <li class="inline-list user-item">
      <p class="info-label">Name</p>
      <p class="info-label">Subscription</p>
      <p class="info-label"></p>
    </li>
    <% users.each do |user| %>
      <li class="inline-list user-item">
        <p><%= link_to describe(user), user %></p>
        <p>
          <% if user.subscription %>
            <%= link_to format_subscription(user.subscription), user.subscription %>
          <% else %>
            none
          <% end %>
        </p>
        <p></p>
      </li>
    <% end %>
  </ul>
<% end %>
