<h1 class="not-found">Not Found!</h1>
<p class="not-found-sub">Sorry, looks like that page doesn't exist.</br>
  If you think it should exist, please open a ticket in the
  <%= link_to 'bug tracker', "https://github.com/travis-pro/travis-admin-v2/issues" %>.</p>
