---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/user/125283
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token D0nqa10GPgIE0Q7rlEIJyQ
      Travis-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: UTF-8
      string: |-
        {
          "@type": "user",
          "@href": "/user/125283",
          "@representation": "standard",
          "@permissions": {
            "read": true,
            "sync": true
          },
          "id": 125283,
          "login": "sinthetix",
          "name": "Aly Fulton",
          "github_id": 5157195,
          "avatar_url": "https://0.gravatar.com/avatar/4e53b07ba0c0992fb7615e0c3279b108",
          "is_syncing": false,
          "synced_at": "2016-03-01T08:15:00Z"
        }
  recorded_at: Tue, 01 Mar 2016 17:17:32 GMT
recorded_with: VCR 3.0.1
