<section class="info-block">
  <h2 class="info-header">Invoices</h2>
  <% if @invoices.empty? %>
    <p>No invoices exist for this subscription.</p>
  <% else %>
    <ul>
      <li class="inline-list invoice-item">
        <p class="info-label">Invoice ID</p>
        <p class="info-label">Invoice Date</p>
        <p class="info-label">Total</p>
      </li>
      <% @invoices.each do |invoice| %>
        <li class="inline-list invoice-item">
          <p>#<%= invoice.invoice_id %></p>
          <p><time><%= invoice.created_at.to_date %></time></p>
          <p><%= format_price(invoice.amount_due) %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
