<h1 class="info-header"><%= "Subscription for #{describe(@subscription.owner)}" %></h1>

<div id="tabs">
  <span id="subscription" class="tab-switch"></span>
  <a href="#subscription" class="tab-link">General Information</a>
  <section class="tab-content">
    <%= render partial: 'subscription' %>
  </section>

  <span id="invoices" class="tab-switch"></span>
  <a href="#invoices" class="tab-link">Invoices</a>
  <section class="tab-content">
    <%= render partial: 'invoices' %>
  </section>
</div>
