/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_self
 */

@import url("https://necolas.github.io/normalize.css/3.0.2/normalize.css")
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600")
@import font-awesome
@import "_vars"
@import "_mixins"
@import "foundation/_settings"
@import "foundation/components/_grid"
@import "_base"
@import "_top"
@import "_footer"
@import "_layout"


/* Following styles are for development purposes and can be replaced */

/* Styles for Tabs */

#tabs
  margin-top: 20px

#tabs::after
  display: block
  content: ""
  clear: both

.tab-switch
  position: fixed

  &:target
    + .tab-link
      color: $oxide-blue
      font-weight: $font-weight-bold
      + .tab-content
        display: block

.tab-link
  display: inline-block
  text-decoration: none
  padding: 0 10px

.tab-content
  box-sizing: border-box
  float: right
  display: none
  width: 100%


/* Styles for listing information */

address
  white-space: pre-line

dl, dt, dd
  margin: 0
  padding: 0
  position: relative

dl
  width: 100%
  overflow: hidden
  line-height: 28px

dt
  float: left
  width: 25%
  clear: left

dd
  float: left
  width: 75%
  > .button_to
    display: inline
    position: absolute
    right: 0

.config-item
  ul
    margin: 0
    list-style-type: disc
  dl
    > dl
      padding-left: 2%

.info-label
  font-weight: $font-weight-bold

.inline-list
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  p
    margin: 0.5em

.repo-active, .repo-view
  flex: 1 1 10%

.repo-name, .repo-build
  flex: 1 1 30%

.job-id, .job-state
  flex: 0 0 35%

.job-queue, .job-reset
  flex: 0 0 15%

.build-name, .build-state
  flex: 0 0 27%

.build-branch
  flex: 0 0 19%

.build-type, .build-duration, .build-reset
  flex: 0 0 9%

.build-duration
  text-align: right

.request-item > p
  flex: 1 1 20%

.org-list, .user-list, .member-list
  list-style: none

.log-list
  list-style: none
  li
    padding: 0.5em
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    time
      font-weight: $font-weight-bold
      flex-shrink: 0

.org-item, .user-item, .feature-item
  p
    flex: 1 1 30%

.feature-for-item > p
  flex: 1 1 50%

.broadcast-item > p
  flex: 1 1 25%

.invoice-item > p
  flex: 1 1 30%


/* Button styles */

.button
  border-width: 0
  padding: 5px 10px
  border-radius: 4px
  background-color: lighten($cement-grey, 20)
  font-size: $font-size-s
  text-decoration: none
  &:hover
    color: $white
    background-color: $cement-grey
  &:disabled
    color: $white
    background-color: lighten($cement-grey, 25)
    pointer-events: none


/* Flashes */

@mixin notice($background)
  background: $background
  color: white
  padding-left: .5em
  margin-bottom: .8em
  border-radius: 2px
  overflow: hidden
  ul
    margin: .2em
  p
    color: white
    display: inline-block
    margin: 0
    vertical-align: middle

.flashes
  .notice
    @include notice($green-dark)

  .error
    @include notice($brick-red)


/* Navigation */

.menu
  float: right


/* Forms */

form.abuse-form label
  margin-right: .8em

form.broadcast-form
  display: flex
  p
    margin-right: 1em
  textarea
    width: 300px
    min-height: auto
    height: 25px
  label
    margin-right: 0.7em

#form-errors
  @include notice($brick-red)

.job-boost input[type="text"]
  width: 60px
  margin-right: 0.7em


/* Icons */

.fa-github, .fa-envelope-o
  margin-left: 0.3em
