.tabs
  list-style: none
  li
    display: inline
    a
      float: left
      display: block
      padding: 4px 10px
      margin-left: -1px
      position: relative
      left: 1px
      text-decoration: none

.group:after
  visibility: hidden
  display: block
  font-size: 0
  content: " "
  clear: both
  height: 0
