<% title "Organization - #{describe(@organization)}" %>

<div id="tabs">
  <span id="organization" class="tab-switch"></span>
  <a href="#organization" class="tab-link">Organization</a>
  <section   class="tab-content">
    <%= render partial: 'organization' %>
  </section>

  <span id="repositories" class="tab-switch"></span>
  <a href="#repositories" class="tab-link">Repositories</a>
  <section class="tab-content">
    <%= render partial: 'shared/repositories' %>
  </section>

  <span id="jobs" class="tab-switch"></span>
  <a href="#jobs" class="tab-link">Jobs</a>
  <section class="tab-content">
    <%= render partial: 'shared/jobs', locals: {owner: @organization} %>
  </section>

  <span id="broadcast" class="tab-switch"></span>
  <a href="#broadcast" class="tab-link">Broadcast</a>
  <section   class="tab-content">
    <%= render partial: 'shared/broadcasts', locals: {recipient: @organization} %>
  </section>
</div>
