<div id="tabs">
  <span id="organization" class="tab-switch"></span>
  <a href="#organization" class="tab-link">Organization</a>
  <article class="tab-content">
    <%= render partial: 'organization', locals: {organization: @organization} %>
  </article>

  <span id="account" class="tab-switch"></span>
  <a href="#account" class="tab-link">Account</a>
  <article class="tab-content">
    <%= render partial: 'shared/account', locals: {organization: @organization} %>
  </article>

  <span id="repositories" class="tab-switch"></span>
  <a href="#repositories" class="tab-link">Repositories</a>
  <article class="tab-content">
    <%= render partial: 'shared/repositories', locals: {repositories: @repositories} %>
  </article>

  <span id="queue" class="tab-switch"></span>
  <a href="#queue" class="tab-link">Queue</a>
  <article class="tab-content">
    <%= render partial: 'shared/queue', locals: {organization: @organization, pending_jobs: @pending_jobs} %>
  </article>
</div>
