<% title "Feature Flag: #{format_feature(@feature)}" %>

<section class="info-block">
  <p><%= "#{@kind.capitalize} with feature #{format_feature(@feature)} enabled:" %></p>
  <% if @members.empty? %>
    <p>None.</p>
  <% else %>
    <ul class="member-list">
      <% @members.each do |member| %>
        <li>
          <p>
            <%= image_tag(member.avatar_url, size: "20x20", alt: "Avatar", class: "avatar") if member.try(:avatar_url) %>
            <%= link_to describe(member), member %>
          </p>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
