<!DOCTYPE html>
<html>
    <head>
          <title>TravisAdmin</title>
          <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
          <%= csrf_meta_tags %>
    </head>
    <body>
        <header>
            <h1>Travis Admin</h1>
            <nav>{{main admin nav will go here}}</nav>
        </header>
        <main>
            <%= yield %>
        </main>
    </body>
</html>
